@CHARSET "ISO-8859-1";
pre {
	position: absolute;
	overflow: auto;
	
	top: 75px;
	right: 10px;
	bottom: 30px;
	left: 10px;
	
	outline: 1px solid #ccc;
	padding: 5px;
	
	text-align: left;
}

pre.outputScript {
	top: 50px;
}

pre:hover{
	outline-color: LightSkyBlue;
}

.placeHolder{
	color: Grey;
}
.string{ 
	color: RoyalBlue; 
}
.number{ 
	color: DarkOrange; 
}
.boolean{ 
	color: Green; 
}
.null{ 
	color: Red; 
}
.key{ 
	color: Maroon; 
	font-weight: bold; 
}
.syntax{
	color: DarkGreen;
}
.error{
	color: Red;
}